<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="4nCjP-stIjAXv2HNIvbXEvpy-AwBsHBrSV7qn4CwdEk" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <script src="static/main.js"></script>
    <title>Document</title>
</head>
<body onload="play(); updateView()">
    <div class="field">
        <div class="cols">
            <div class="leftcol">
                <div class="side hand" id="lefthand">
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                    <div class="vertgap"></div>
                    <div class="sidebundle" id="bundle1">
                        <img class="sidecard" src="static/images/sideback.png">
                    </div>
                </div>
            </div>
            <div class="midcol">
                <div class="toprow">
                    <div class="vertlign">
                        <div class="bundle" id="bundle2">
                            <img class="card" src="static/images/back.png">
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="vertalign">
                        <div class="hand" id="tophand">
                            <img class="card" src="static/images/back.png">
                            <img class="card" src="static/images/back.png">
                            <img class="card" src="static/images/back.png">
                            <img class="card" src="static/images/back.png">
                        </div>
                    </div>
                </div>
                <div class="midrow">
                    <div class="pool">
                        <div class="stockarea">
                            <div class="vertalign">
                                <div class="stock">
                                    <img src="static/images/back.png" class="card">
                                </div>
                            </div>
                        </div>
                        <div class="poolcards" id="poolcards">
                            <div class="topcards" id="topcards">
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                            </div>
                            <div class="botcards" id="botcards">
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                                <div class="vertalign">
                                    <div class="poolcard">
                                        <img src="static/images/back.png" class="poolimg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="botrow">
                    <div class="vertalign">
                        <div class="hand" id="bothand">
                            <!--Ace of Diamonds not loading-->
                            <img class="card" src="static/images/cards/0.png" onclick="playRound(0)">
                            <img class="card" src="static/images/cards/34.png" onclick="playRound(1)">
                            <img class="card" src="static/images/cards/12.png" onclick="playRound(2)">
                            <img class="card" src="static/images/cards/30.png" onclick="playRound(3)">
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="vertlign">
                        <div class="bundle" id="bundle0">
                            <img class="card" src="static/images/back.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightcol">
                <div class="side hand" id="righthand">
                    <div class="sidebundle" id="bundle3">
                        <img class="sidecard" src="static/images/sideback.png">
                    </div>
                    <div class="vertgap"></div>
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                    <img class="sidecard" src="static/images/sideback.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
